<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PassedMaterial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9F6615B1E13D96F009C2829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F661741E13D96F009C2829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9F6617F1E13D96F009C2829</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
